*{
    padding: 0;
    margin:0;
 box-sizing: border-box ;


}

.back-img{
    background-image: url(asset\ 1.jpeg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;

}

.layer{
    background-color: rgba(0,0,0,.5);
    /* z-index: 10000; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.about-me{
    font-size: 150px;
}
.g-line{
    position: relative;
 

}
.g-line::after{
    position: absolute;
    content: "";
    left: 50%;
    width: 4rem;
    height: .2rem;
    top: 150%;
    transform: translateX(-50%);
    background-color: red;
    



}
.back-3{
    background-color: #dee3e4;
}
.borders{
    border-radius: .5rem;
    border: 1px gray  solid;

}
.borders p span{
    font-size: 20px;
    font-weight: 100;
}
.picture img{
    width: 100%;
    
}
.picture{
    position: relative;
    overflow: hidden;
margin-bottom: 20px;
}
.picture img{
    transition: 2s;
}
.layer2{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,.5);
    opacity:0;
    transition: 2s ;
    /* transition-delay: 2s; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: white;

}
.layer2:hover{
    opacity: 1;
}
.picture:hover img {
transform: scale(2);
}
.carousel-indicators [data-bs-target]{
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    padding-top: 50;
    /* margin-bottom: 0; */
    /* bottom: -30; */

    /* margin-top: 100px  !important; */
    
}


.carousel-indicators .active {
    border-color:blue;

    background-color: aqua;
    

}
.carousel-indicators  {
    margin-top: 15rem;
    
top: 22rem;

}
.curousel11{
    background-color: #dee3e4;
    box-shadow: 100px black;
    /* margin-left: 20px; */
    border-radius: 3%;

}